*
{
  background-color: black;
  /* overflow: hidden; */
}



.heading{
  color: yellow;
  text-decoration: underline;
  animation: headingAnimation infinite ease-out 1.3s alternate;
}



.headingDogImg
{
  text-decoration: underline;
  color: #0ff;
}


.headingCatImg
{
  text-decoration: underline;
  color:  #0ff;
}





@keyframes headingAnimation {
  form{
   
    text-shadow: none;
  }
  to{
 
    text-shadow: 0rem 0.1875rem 1.125rem rgb(229, 255, 0);
  }
  
}

.mainContainer
{
  display: flex;
  
}
.dog_container
{
  /* border: 2px solid black; */
  width:100%;
  height: 37.5rem;
  margin-right: 0.625;
  padding: 0.625rem;
  margin-left: 3.125rem;
}
.cat_container
{
  /* border:2px solid black; */
  width:100%;
  height: 37.5;
  padding: 0.625rem;
  margin-left: 3.125rem;
}

.dogImg{
  height: 31.25rem;
  width: 31.25rem;
  border-radius: 3.125rem;
}


.dogImgCont
{
  height:fit-content;
  width:fit-content;
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
}


.catImgCont
{
  height:fit-content;
  width:fit-content;
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
}


.catImg{
  height: 31.25rem;
  width: 31.25rem;
  border-radius: 3.125rem;
}


.pookie
{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 20%;
}


.cat_btn{
  cursor:pointer;
  height: 2.5rem;
  width: 6.25rem;
  border: 0.125rem solid #0ff;
  color: #0ff;
  border-radius:10%;

}


.cat_btn:hover{
  background-color: #0ff;
  color: black;
  border-color: #0ff;
  box-shadow:0 0.125rem 0.8125rem #0ff;
  transition: 1s ease;
}


.dog_btn{
  cursor:pointer;
  height: 2.5rem;
  width: 6.25rem;
  border: 0.125rem solid #0ff;
  color: #0ff;
  border-radius: 10%;
}



.dog_btn:hover{
  background-color: #0ff;
  color: black;
  border-color: #0ff;
  box-shadow:0 0.125rem 0.8125rem #0ff;
  transition: 1s ease;
}
